.what-we-do .cards .card {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.what-we-do .cards .card__image {
  height: 160px;
  width: 160px;
  background-repeat: no-repeat;

  position: relative;
}

.what-we-do .cards .card__image svg {
  font-size: 70px;
  color: #939598;
  position: absolute;
  bottom: 0;
}

.what-we-do .card .base-link {
  margin-top: 20px;
}

.text-base {
  font-size: 13px;
  line-height: 22px;
}
.text-base strong {
  font-weight: 600;
}
.text-caption {
  font-size: 23px;
  margin: 10px 0px;
}
.text-caption strong {
  font-weight: 600;
}
