.what-we-do .cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: max-content;
}

svg.arrow-bottom--sm {
  font-size: 14px;
  margin-top: 5px;
  transform: rotate(-45deg);
  color: #939598;
}

.what-we-do .cards .card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: max-content;
}

.what-we-do .cards .card__image {
  height: 160px;
  width: 160px;
  background-repeat: no-repeat;
  position: relative;
}

.what-we-do .cards .card__image svg {
  font-size: 70px;
  color: #939598;
  position: absolute;
  bottom: 0;
}

.what-we-do .card .base-link {
  margin-top: 20px;
}
.text-caption {
  font-size: 23px;
  margin: 10px 0px;
}
.text-caption strong {
  font-weight: 600;
}
