.home {
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  padding: 30px;
}

.home .section {
  border: 2px solid red;
  height: 100%;
  padding-top: 8%;
  box-sizing: border-box;
}

.home .section + .section {
  margin-top: 8%;
}

svg.arrow-bottom--md {
  transform: rotate(-45deg);
}
