.what-we-do {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
  /* margin-top: 8%; */
}

.what-we-do__body {
  /* border: 2px solid red; */
  /* padding-left: 2%; */
}
